/*
    Name:       JCU
    Author:     eResearch Centre, James Cook University

    Based upon base16-light theme.
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
*/
.cm-s-jcu-light.CodeMirror { background: #f5f5f5; color: #202020; }
.cm-s-jcu-light div.CodeMirror-selected { background: #e0e0e0; }
.cm-s-jcu-light .CodeMirror-line::selection, .cm-s-jcu-light .CodeMirror-line > span::selection, .cm-s-jcu-light .CodeMirror-line > span > span::selection { background: #e0e0e0; }
.cm-s-jcu-light .CodeMirror-line::-moz-selection, .cm-s-jcu-light .CodeMirror-line > span::-moz-selection, .cm-s-jcu-light .CodeMirror-line > span > span::-moz-selection { background: #e0e0e0; }
.cm-s-jcu-light .CodeMirror-gutters { background: #f5f5f5; border-right: 0px; }
.cm-s-jcu-light .CodeMirror-guttermarker { color: #ac4142; }
.cm-s-jcu-light .CodeMirror-gutter-wrapper { background: #F7F8F9; }
.cm-s-jcu-light .CodeMirror-guttermarker-subtle { color: #aaa; }
.cm-s-jcu-light .CodeMirror-linenumber { color: #aaa; }
.cm-s-jcu-light .CodeMirror-cursor { border-left: 1px solid #505050; }

.cm-s-jcu-light span.cm-header { color: #f10056; }
.cm-s-jcu-light span.cm-comment { color: #757575; }
.cm-s-jcu-light span.cm-atom { color: #4D4E53; }
.cm-s-jcu-light span.cm-number { color: #4D4E53; }

.cm-s-jcu-light span.cm-property { color: #b9002f; }
.cm-s-jcu-light span.cm-attribute { color: #0565cb; }
.cm-s-jcu-light span.cm-keyword { color: #0565cb; }
.cm-s-jcu-light span.cm-string { color: #b9002f; }
.cm-s-jcu-light span.cm-string-2 { color: #bd6b18; }
.cm-s-jcu-light span.cm-builtin { color: #9B7536; }
.cm-s-jcu-light span.cm-qualifier { color: #5e8f00; }

.cm-s-jcu-light span.cm-variable { color: #1c9903; }
.cm-s-jcu-light span.cm-variable-2 { color: #5c93ff; }
.cm-s-jcu-light span.cm-variable-3 { color: #0077aa; }
.cm-s-jcu-light span.cm-def { color: #5C4E53; }
.cm-s-jcu-light span.cm-bracket { color: #023c99; }
.cm-s-jcu-light span.cm-operator { color: #c69401; }
.cm-s-jcu-light span.cm-meta { color: #000000; }
.cm-s-jcu-light span.cm-tag { color: #023c99; }
.cm-s-jcu-light span.cm-link { color: #aa759f; }
.cm-s-jcu-light span.cm-error { background: #ac4142; color: #505050; }

.cm-s-jcu-light .CodeMirror-activeline-background { background: #DDDCDC; }
.cm-s-jcu-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
.cm-s-jcu-light span.cm-searching { background-color: #EDF0F0; }
